In [18]:
import pandas as pd
import numpy as np
data=pd.read_excel("RawData_Ecology.xlsx")

In [2]:
data

,Night,Date,MoonPhase,TrapType,ArthropodOrder,Count,Control_trap,Led.Blue_trap,Led.Green_trap,Led.Red_trap,Temp_min,Temp_max,Hum_min,Hum_max,Rain,Season
0,1,2020-03-26,New Moon,Control,Undetermined,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn
1,1,2020-03-26,New Moon,Led.Blue,Lepdoptera,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn
2,1,2020-03-26,New Moon,Led.Blue,Araneae,2,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn
3,1,2020-03-26,New Moon,Led.Blue,Diptera,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn
4,1,2020-03-26,New Moon,Led.Green,Coleoptera,2,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,69,2021-04-27,Full Moon,Led.Blue,Collembola,1,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn
600,69,2021-04-27,Full Moon,Led.Green,Collembola,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn
601,69,2021-04-27,Full Moon,Led.Green,Araneae,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn
602,69,2021-04-27,Full Moon,Led.Red,Araneae,4,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn
603,69,2021-04-27,Full Moon,Led.Red,Collembola,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn

In [8]:
data.Control_trap[3]

1

In [19]:
conditions = [
    data["TrapType"] == "Control",
    data["TrapType"] == "Led.Blue",
    data["TrapType"] == "Led.Red",
    data["TrapType"] == "Led.Green"
]

choices = [data.Control_trap, data.Blue_trap, data.Red_trap, data.Green_trap]

data['num_traps'] = np.select(conditions, choices, default='Unknown')

In [20]:
data

,Night,Date,MoonPhase,TrapType,ArthropodOrder,Count,Control_trap,Blue_trap,Green_trap,Red_trap,Temp_min,Temp_max,Hum_min,Hum_max,Rain,Season,num_traps
0,1,2020-03-26,New Moon,Control,Undetermined,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn,1
1,1,2020-03-26,New Moon,Led.Blue,Lepdoptera,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn,2
2,1,2020-03-26,New Moon,Led.Blue,Araneae,2,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn,2
3,1,2020-03-26,New Moon,Led.Blue,Diptera,1,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn,2
4,1,2020-03-26,New Moon,Led.Green,Coleoptera,2,1,2,4,0,18.2,21.9,84.0,92.0,0.0,Autumn,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,69,2021-04-27,Full Moon,Led.Blue,Collembola,1,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn,2
600,69,2021-04-27,Full Moon,Led.Green,Collembola,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn,2
601,69,2021-04-27,Full Moon,Led.Green,Araneae,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn,2
602,69,2021-04-27,Full Moon,Led.Red,Araneae,4,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn,4
603,69,2021-04-27,Full Moon,Led.Red,Collembola,2,3,2,2,4,18.5,24.0,78.5,99.7,4.3,Autumn,4

In [21]:
data.to_excel("Data_Ecology.xlsx")